.ComposeBtn::before{
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 48px;
    min-width: 56px;
}

.ComposeBtn {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    min-width: 56px;
    padding: 0 24px 0 0;
    text-transform: none;
}

.ComposeBtn:hover {
	
	box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    background-color: #fafafb;
}

.ComposeBtn a:hover{
    text-decoration: none;
}   

/* SBAR */
.sbar{
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        -webkit-align-items: center;
    align-items: center;
    color: black;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    opacity: .8;
    border-radius: 24px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: bold;
    margin: 10px 0px 0px 15px;
    text-transform: none;
}
.sbar p{

    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 40%;
    font-size: .875rem;
    letter-spacing: .25px;

}
.sbar:hover{
	box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    background-color: #fafafb;
    cursor: pointer;
}


.mainbar{
    display: flex;
    flex-direction: column;
    width: 34.01vh;
    margin: 1.01vh;
}

.display-none {
    display: none;
}

.main-none{
   width: 5.01vh;
   border: none !important;
   margin: 25px;
}
.maindiv{
    display: flex;
    width: 100%;

}


